// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins 
{
	margin: 0 auto;

}

.box {
	margin: 5px;
	width: 200px;


}

#wrapper img{
	width:100%;

	 
}

 
#wrapper
{
	overflow: hidden;
	text-align:center;
} 

  #wrapper .text2
  { 
opacity:0;
position:relative;
bottom:110px;
     
  }
 

 #wrapper:hover img{
 	opacity:0.2;
 }

#wrapper:hover .text2 {
opacity:1;
font-family: helvetica;
font-size: 10px


}

 
.action {
	font-size: 8px;
	position:absolute;
bottom:50px;
left:20 px;
 
}

 
 
 
 